@use "../abstracts/index" as *;
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  grid-column: 1 / -1;
}

.slot {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
