.trophy--layout {
  //display
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: end;
  overflow-y: auto;
  scrollbar-width: none;
  //sizing
  padding: 4.375rem; //70px
  gap: 100px;
  margin: 0 auto;
  gap: 70px 300px;
  height: 540px;
}
