@use "../abstracts/index" as *;
.aboutus-footer {
  //display
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //sizing
  gap: 1.25rem; //20px
  padding: 2.5rem; //40px
  //color and typo
  border-radius: 0.625rem; //10px
  background-color: $neutral-50;
  div {
    //display
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //sizing
    gap: 0.625rem; //10px
    p {
      //display
      text-align: center;
      //sizing
      margin: 0;
      //color and typo
      @include typography($weight-bold, $size-20);
      color: black;
    }
    nav {
      //display
      display: flex;
      flex-direction: row;
      //sizing
      gap: 0.625rem; //10px

      span {
        //display
        display: flex;
        justify-content: center;
        align-items: center;
        //sizing
        width: 2.5rem; //40px
        aspect-ratio: 1/1;
        //color and typo
        background-color: $neutral-400;
        border-radius: 100%;
        transition: all 0.3s ease-out;
        cursor: pointer;
        color: $neutral-50;

        &:hover {
          &.instagram:hover {
            //color and typo
            background-color: #e1306c;
          }
          &.linkedin:hover {
            //color and typo
            background-color: #0a66c2;
          }
          &.youtube:hover {
            //color and typo
            background-color: #ff0000;
          }
          &.telegram:hover {
            //color and typo
            background-color: #0088cc;
          }
        }
      }
    }
  }
  .aboutus--footer__description {
    //display
    display: flex;
    text-align: center;
    align-items: center;
    //sizing
    margin: 0;
    //color and typo
    @include typography($weight-regular, $size-13);
    color: black;
  }
}
.aboutus--footer__container {
  //display
  display: flex;
  align-items: center;
  justify-content: center;
  //sizing
  margin-top: 1.25rem; //20px
  //color and typo
  background-color: rgb(25, 25, 25);
  border: 1px solid $neutral-50;
  border-radius: 0.625rem; //10px

  .aboutus--footer__logo {
    //sizing
    width: 5rem; //80px
    aspect-ratio: 1/1;
  }
}
