@use "../abstracts/index" as *;
.category--btns {
  //display
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //sizing
  padding-right: 29px;
  width: 120px;
}
