@use "../abstracts/index" as *;

.dashboard {
  //display
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: none;
  //sizing
  margin: 20px;
  .dashboard--sections {
    //display
    display: flex;
    flex-direction: column;
    //sizing
    height: fit-content;
    gap: 60px;
  }
}
