.trophy--layout {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  padding: 4.375rem;
  gap: 100px;
  height: 600px;
  overflow-y: auto;
  scrollbar-width: none;
}
