.trophy--layout {
  //display
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: end;
  overflow-y: auto;
  scrollbar-width: none;
  //sizing
  padding: 4.375rem; //70px
  gap: 100px;
  height: 600px;
}
