@use "../abstracts/index" as *;
.pagination {
  //display
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //sizing
  gap: 10px;
  width: 100%;
  grid-column: 1 / -1;
}
