{% extends "base.html" %} 
{% load static %} 
{% block 'title' %}home{% endblock 'title' %} 
{% block 'favicon' %}{% static 'assets/icons/favicons/house-solid-full.svg' %}{% endblock 'favicon' %}
{% block 'content' %}

<!-- tasks -->
<div class="tasks__container">
  <section class="primary--tasks">
    <button class="tasks__btn__top"></button>

    <div class="tasks__body">
      <header class="tasks__header">
        <div class="tasks__header__texts">
          <span>Name</span>
          <span>Start date</span>
          <span>Finish date</span>
          <span>Checkbox</span>
        </div>
        <div style="margin: 0px 6px" class="fancy--divider--primary"></div>
      </header>
      <div class="tasks__column">
        {% for DoTask in DoTasks %}
        <div class="tasks__row">
          <span>{{DoTask.description}}</span>
          <span>{{ DoTask.start_date|date:"Y-m-d" }}</span>
          <span>{{ DoTask.end_date|date:"Y-m-d" }}</span>
          <label class="checkbox--primary">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__box"></span>
          </label>
        </div>
        {% endfor %}

        
      </div>
    </div>
    <footer class="tasks__footer">
      <button
        id="openModalAddDo"
        class="tasks__plus__btn"
        data-label="Add task"
      >
        <i class="fa-solid fa-plus fa-3x"></i>
      </button>
      <button
        id="openDeleteModalDo"
        class="tasks__minus__btn"
        data-label="Delete task"
      >
        <i class="fa-solid fa-minus fa-3x"></i>
      </button>
    </footer>
  </section>

  <section class="secondary--tasks">
    <button class="tasks__btn__top"></button>

    <div class="tasks__body">
      <header class="tasks__header">
        <div class="tasks__header__texts">
          <span>Name</span>
          <span>Start date</span>
          <span>Finish date</span>
          <span>Checkbox</span>
        </div>
        <div style="margin: 0px 6px" class="fancy--divider--secondary"></div>
      </header>
      <div class="tasks__column">

        {% for DontTask in DontTasks %}
        <div class="tasks__row">
          <span>{{DontTask.description}}</span>
          <span>{{ DontTask.start_date|date:"Y-m-d" }}</span>
          <span>{{ DontTask.end_date|date:"Y-m-d" }}</span>
          <label class="checkbox--secoundry">
            <input class="checkbox__input" type="checkbox" />
            <span class="checkbox__box"></span>
          </label>
        </div>
        {% endfor %}

        
      </div>
    </div>
    <footer class="tasks__footer">
      <button
        id="openModalAddDont"
        class="tasks__plus__btn"
        data-label="Add task"
      >
        <i class="fa-solid fa-plus fa-3x"></i>
      </button>
      <button
        id="openDeleteModalDont"
        class="tasks__minus__btn"
        data-label="Delete task"
      >
        <i class="fa-solid fa-minus fa-3x"></i>
      </button>
    </footer>
  </section>
</div>

<!-- new task modal -->
<form class="new--task--modal--primary">
  <div class="new--task--modal__bg">
    <video autoplay muted loop>
      <source
        src="{% static 'assets/video/primary/purple.mp4' %}"
        type="video/mp4"
      />
    </video>
  </div>

  <header class="new--task--modal__header">
    <h3>Make a new do-task</h3>
    <p>
      Create a task you want to accomplish. Add details, set deadlines, and keep
      track of your progress.
    </p>
    <div class="fancy--divider--primary"></div>
  </header>

  <div class="text--input--primary--500">
    <span class="input_name">Name:</span>
    <div class="input_content">
      <input
        autocomplete="off"
        maxlength="50"
        id="nameInput"
        type="text"
        class="input_input"
        placeholder="Type here"
      />
      <div class="input_content_right">
        <span id="nameInputTxt" class="texts">50</span>
      </div>
    </div>
    <p id="descriptionDoName" class="input_description">
      Place a text here for description
    </p>
  </div>

  <div class="text--input--primary--500">
    <span class="input_name">Start date :</span>
    <div class="input_content">
      <input
        autocomplete="off"
        id="startDateDo"
        type="text"
        class="input_input"
        placeholder="YYYY-MM-DD"
      />
      <div class="input_content_right">
        <span
          data-target="startDateDo"
          style="cursor: pointer"
          id="openCalendarDo"
          class="input_icon_right"
          ><i class="fa-regular fa-calendar"></i
        ></span>
      </div>
    </div>
    <p id="descriptionDoStart" class="input_description">
      Tap the <i class="fa-regular fa-calendar"></i> icon to choose a date
    </p>
  </div>

  <div class="text--input--primary--500">
    <span class="input_name">Finish date:</span>
    <div class="input_content">
      <input
        autocomplete="off"
        id="finishDateDo"
        type="text"
        class="input_input"
        placeholder="YYYY-MM-DD"
      />
      <div class="input_content_right">
        <span
          data-target="finishDateDo"
          style="cursor: pointer"
          id="openCalendarDo"
          class="input_icon_right"
          ><i class="fa-regular fa-calendar"></i
        ></span>
      </div>
    </div>
    <p id="descriptionDofinish" class="input_description">
      Tap the <i class="fa-regular fa-calendar"></i> icon to choose a date
    </p>
  </div>

  <footer class="new--task--modal__footer">
    <button id="closeModalAddDo" type="button" class="btn btn--primary--100">
      <span>cancel</span>
    </button>

    <button id="addTaskSubmitBtn" type="button" class="btn btn--primary--100">
      <span>ok</span>
    </button>
  </footer>
</form>

<form class="new--task--modal--secoundry">
  <div class="new--task--modal__bg">
    <video autoplay muted loop>
      <source
        src="{% static 'assets/video/secondary/Blue.mp4' %}"
        type="video/mp4"
      />
    </video>
  </div>

  <header class="new--task--modal__header">
    <h3>Make a new do-task</h3>
    <p>
      Create a task you want to accomplish. Add details, set deadlines, and keep
      track of your progress.
    </p>
    <div class="fancy--divider--secondary"></div>
  </header>

  <div class="text--input--secondary--500">
    <span class="input_name">Name:</span>
    <div class="input_content">
      <input
        autocomplete="off"
        id="nameInput"
        maxlength="50"
        type="text"
        class="input_input"
        placeholder="Type here"
      />
      <div class="input_content_right">
        <span id="nameInputTxt" class="texts">50</span>
      </div>
    </div>
    <p id="descriptionDontName" class="input_description">
      Place a text here for description
    </p>
  </div>

  <div class="text--input--secondary--500">
    <span class="input_name">Start date :</span>
    <div class="input_content">
      <input
        autocomplete="off"
        id="startDateDont"
        type="text"
        class="input_input"
        placeholder="YYYY-MM-DD"
      />
      <div class="input_content_right">
        <span
          data-target="startDateDont"
          style="cursor: pointer"
          id="openCalendarDont"
          class="input_icon_right"
          ><i class="fa-regular fa-calendar"></i
        ></span>
      </div>
    </div>
    <p id="descriptionDontStart" class="input_description">
      Tap the <i class="fa-regular fa-calendar"></i> icon to choose a date
    </p>
  </div>

  <div class="text--input--secondary--500">
    <span class="input_name">Finish date:</span>
    <div class="input_content">
      <input
        autocomplete="off"
        id="finishDateDont"
        type="text"
        class="input_input"
        placeholder="YYYY-MM-DD"
      />
      <div class="input_content_right">
        <span
          data-target="finishDateDont"
          style="cursor: pointer"
          id="openCalendarDont"
          class="input_icon_right"
          ><i class="fa-regular fa-calendar"></i
        ></span>
      </div>
    </div>
    <p id="descriptionDontfinish" class="input_description">
      Tap the <i class="fa-regular fa-calendar"></i> icon to choose a date
    </p>
  </div>

  <footer class="new--task--modal__footer">
    <button
      id="closeModalAddDont"
      type="button"
      class="btn btn--secondary--100"
    >
      <span>cancel</span>
    </button>

    <button
      id="addTaskSubmitBtnDont"
      type="button"
      class="btn btn--secondary--100"
    >
      <span>ok</span>
    </button>
  </footer>
</form>

<!-- delete task modal -->
<article class="secondary--delete--task--modal">
  <video loop autoplay muted>
    <source src="{% static 'assets/video/secondary/Blue.mp4' %}" />
  </video>
  <header>
    <img
      src="{% static 'assets/icons/other/exclamation.png' %}"
      alt="exclamation.png"
    />
    <p>Delete the task</p>
  </header>
  <section>
    <p>
      Are you sure you want to delete 3 selected tasks?
      <br />
      <em>This action cannot be undone.</em>
    </p>
    <div style="margin: 5px 0" class="fancy--divider--secondary--700"></div>

    <div id="tasksThatShouldBeDeletedDont">
      <p>Tasks to be deleted (showing 3 of 7):</p>
      <ul>
        <li>Do your homework</li>
        <li>Do dishes</li>
        <li>Do some sketches</li>
      </ul>
    </div>
  </section>
  <footer>
    <label class="checkbox--secoundry">
      <input
        id="dontAskAgainDeleteDont"
        class="checkbox__input"
        type="checkbox"
      />
      <span class="checkbox__box"></span>
      <span class="checkbox__label">don’t ask again</span>
    </label>
    <div>
      <button id="closeDeleteModalDont" class="btn btn--secondary">
        <span>Cancel</span>
      </button>
      <button id="deleteTaskDont" class="btn btn--destructive">
        <span>Delete!</span>
      </button>
    </div>
  </footer>
</article>

<article class="primary--delete--task--modal">
  <video loop autoplay muted>
    <source src="{% static 'assets/video/primary/purple.mp4' %}" />
  </video>
  <header>
    <img
      src="{% static 'assets/icons/other/exclamation.png' %}"
      alt="exclamation.png"
    />
    <p>Delete the task</p>
  </header>
  <section>
    <p>
      Are you sure you want to delete selected tasks?
      <br />
      <em>This action cannot be undone.</em>
    </p>
    <div style="margin: 5px 0" class="fancy--divider--primary--700"></div>

    <div id="tasksThatShouldBeDeleted">
      <p>Tasks to be deleted (showing 3 of 7):</p>
      <ul>
        <li>Do your homework</li>
        <li>Do dishes</li>
        <li>Do some sketches</li>
      </ul>
    </div>
  </section>
  <footer>
    <label class="checkbox--primary">
      <input id="dontAskAgainDelete" class="checkbox__input" type="checkbox" />
      <span class="checkbox__box"></span>
      <span class="checkbox__label">don’t ask again</span>
    </label>
    <div>
      <button id="closeDeleteModalDo" class="btn btn--primary">
        <span>Cancel</span>
      </button>
      <button id="deleteTaskDo" class="btn btn--destructive">
        <span>Delete!</span>
      </button>
    </div>
  </footer>
</article>

<!-- calender -->
<div class="calendar__wrapper">
  <div class="calendar">
    <div class="calendar--primary">
      <header class="calendar_header">
        <div class="calendar_month_year">
          <span class="calendar_month"></span>
          <button class="calendar_btn_year_prev">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <span class="calendar_year">2000</span>
          <button class="calendar_btn_year_next">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
        <div class="calender_nav">
          <button class="calendar_btn_month_prev">
            <i class="fa-solid fa-chevron-left fa-xl"></i>
          </button>
          <button class="calendar_btn_month_next">
            <i class="fa-solid fa-chevron-right fa-xl"></i>
          </button>
        </div>
      </header>
      <section class="calendar_body">
        <div id="calendarDaysDo" class="calendar_days"></div>
      </section>
    </div>
  </div>
</div>

<div class="calendar__wrapper">
  <div class="calendar">
    <div class="calendar--secoundry">
      <header class="calendar_header">
        <div class="calendar_month_year">
          <span class="calendar_month"></span>
          <button class="calendar_btn_year_prev">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <span class="calendar_year">2000</span>
          <button class="calendar_btn_year_next">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
        <div class="calender_nav">
          <button class="calendar_btn_month_prev">
            <i class="fa-solid fa-chevron-left fa-xl"></i>
          </button>
          <button class="calendar_btn_month_next">
            <i class="fa-solid fa-chevron-right fa-xl"></i>
          </button>
        </div>
      </header>
      <section class="calendar_body">
        <div class="calendar_days"></div>
      </section>
    </div>
  </div>
</div>
{% endblock 'content' %}
