@use "../abstracts/index" as *;

//live video button tags are in a grid
.btn--video--bg {
  background: transparent;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 2px;
  padding: 0;
  box-shadow: $shadow-small;
  transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  color: $primary-10;

  &:hover {
    box-shadow: $shadow-medium;
    scale: (1.01);
  }

  &:active {
    scale: (0.97);
  }
  /*element*/
  .btn__container {
    display: inline;
    position: absolute;
  }

  .btn__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn__video {
    object-fit: fill; //you can make it cover for original video
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

/*element*/
.btn__icon {
  display: flex;
  padding: 0.3rem;
  aspect-ratio: 3 / 3;
  align-items: center;
}

/*buttons all type */
/*block */
.btn {
  @include buttons-base;

  
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
  }

  //modifire
  &--secondary {
    background-color: $secondary-10;
    color: $secondary-300;
    @include buttons-states($secondary-300, $secondary-50);
  }
  //secoundry(dont) button(txt 500 , bg 100)
  &--secondary--100 {
    background-color: $secondary-10;
    color: $secondary-500;
    @include buttons-states($secondary-300, $secondary-50);
  }
  &--secondary--200 {
    background-color: $secondary-100;
    color: $secondary-500;
    @include buttons-states($secondary-300, $secondary-50);
  }
  //primary(do) button
  &--primary {
    background-color: $primary-10;
    color: $primary-300;
    @include buttons-states($primary-300, $primary-50);
  }

  &--primary--100 {
    background-color: $primary-10;
    color: $primary-500;
    @include buttons-states($primary-300, $primary-50);
  }
  &--primary--200 {
    background-color: $primary-100;
    color: $primary-500;
    @include buttons-states($primary-300, $primary-50);
  }
  //destructive button
  &--destructive {
    background-color: $destructive-500;
    color: $neutral-50;
    @include buttons-states($destructive-100, $destructive-600);
  }
  //natural button
  &--natural {
    background-color: $neutral-50;
    color: $neutral-800;
    @include buttons-states($neutral-800, $neutral-200);
    
  }
  &--success {
    background-color: $success-400;
    color: $neutral-50;
    @include buttons-states($success-300, $success-500);
    
  }
}
