@use "../abstracts/index" as *;

@mixin gradiant--divider($color, $line-direction) {
  //display
  border: none;
  //sizing
  height: 0.125rem; //2px
  width: 100%;
  margin: 1rem 0; //16px
  //color and typo
  background-image: linear-gradient(
    $line-direction,
    rgba($color, 1) 0%,
    rgba($color, 0.2) 32%,
    rgba(250, 250, 250, 0.01) 50%
  );
}

.gradiant--divider--secondary--ltr {
  @include gradiant--divider($secondary-500, to right);
}

.gradiant--divider--primary--ltr {
  @include gradiant--divider($primary-500, to right);
}

.gradiant--divider--secondary--rtl {
  @include gradiant--divider($secondary-500, to left);
}

.gradiant--divider--primary--rtl {
  @include gradiant--divider($primary-500, to left);
}
