@use "../abstracts/index" as *;
.info--cards--holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  padding: 0px 20px;
  margin: 0px 20px;
}

.info--cards--userinfo {
  //display
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  //sizing
  width: 380px;
  height: 548px;
  padding: 2rem;

  //color and typo
  background-color: $neutral-50;
  border-radius: 10px;
  border: 2px solid $neutral-800;

  .info--cards--userinfo--profile--section {
    //display
    display: flex;
    flex-direction: column;
    img {
      aspect-ratio: 1/1;
      width: 100px;
    }

    i {
      //display
      position: relative;

      //sizing
      left: 40px; // 25px
      bottom: 0.3rem; // 5px

      //color and typo
      opacity: 0.2; // 20%
      cursor: pointer;
      transition: opacity 0.3s ease-out;

      &:hover {
        //color and typo
        opacity: 0.9; // 90%
      }
    }
  }

  .info--cards--userinfo--profile {
    //sizing
    object-fit: contain;
    width: 3.125rem; // 50px
    aspect-ratio: 1 / 1;

    //color and typo
    background-color: $neutral-300;
    border-radius: 50%;
  }

  section {
    //display
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    //sizing
    width: 100%;

    //color and typo
    @include typography($weight-regular, $size-16);

    small {
      //sizing
      padding: 0.625rem; // 10px
    }

    p {
      //sizing
      padding: 0.625rem; // 10px
      margin: 0;
    }
  }

  .input_content {
    //color and typo
    border: 1px solid $neutral-100;
  }
}

.info--cards--btnbox {
  //display
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  align-items: center;
  overflow: hidden;
  //sizing
  height: 0.625rem; //10px
  padding: 15px 25px; //25px
  //color and typo
  background-color: $neutral-50;
  border-radius: 0 0 10px 10px;
  border: 2px solid $neutral-800;
  transition: all 0.3s ease;
  a {
    //display
    opacity: 0;
    //color and typo
    @include typography($weight-medium, $size-16);
    transform: translateY(100px);
    transition: color 0.3s ease;
    pointer-events: none;
  }
  a:first-of-type {
    //color and typo
    color: $neutral-400;

    &:hover {
      //color and typo
      color: $neutral-500;
    }
  }
  a:last-child {
    //color and typo
    color: $destructive-300;
    &:hover {
      //color and typo
      color: $destructive-400;
    }
  }
  i {
    //display
    position: absolute;
    left: 26.563rem; //425px
    bottom: 9.313rem; //149px
    width: 0.625rem; //10px
    display: none;
    //color and typo
    color: $neutral-400;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      //color and typo
      color: $neutral-900;
    }
  }
  button {
    //display
    display: inline-block;
    //color and typo
    background-color: transparent;
    border: none;
    color: $neutral-400;
    @include typography($weight-medium, $size-16);
    cursor: pointer;
    transform: translateY(70px);
    transition: color 0.3s ease;
    &:hover {
      //color and typo
      color: $neutral-900;
    }
  }

  &.is_open {
    //sizing
    height: 8.75rem; //140px
    button {
      //display
      display: none;
    }
    a {
      //color and typo
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
    i {
      //display
      display: inline-block;
    }
  }
}
