@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.navbar {
  //display
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  //spacing
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  z-index: 999;
  margin: 0px auto;
 
  

  .navbar__item {
    

    //display
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex: 1;
    //color and typo
    color: $neutral-50;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      //spacing
      transform: translateY(-10px);
    }

    &::after {
      //color and typo
      content: attr(data-label);
      font-size: 12px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      @include typography($weight-semi-bold, $size-13);
      color: $neutral-50;
    }

    &:hover::after {
      //spacing
      transform: translateY(10px);
      //color and typo
      opacity: 1;
    }
  }
}
