@use "../abstracts/index" as *;

@mixin trophy($bg-color, $border-header-bg, $txt-color) {
  //display
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem; //32px
  //sizing
  width: fit-content;
  padding: 3.2rem 3.8rem; //51.2px //60.8px
  //color and typo
  background-color: $bg-color;
  border: 2px solid $border-header-bg;
  border-radius: 10px;
  .trophy__header {
    //display
    overflow: hidden;
    //sizing
    width: 15.625rem; //250px
    //color and typo
    box-shadow: $shadow-small;
    background-color: $border-header-bg;
    p {
      //display
      text-align: center;
      //sizing
      white-space: normal;
      margin: 0;
      //color and typo
      color: $txt-color;
      @include typography($weight-bold, $size-16);
    }
  }

  .trophy__image {
    //display
    display: flex;
    flex-direction: column;
    align-items: center;
    //color and typo
    aspect-ratio: 1/1;
    box-shadow: $shadow-small;
    background-color: $border-header-bg;
    border-radius: 150px;
  }
  button {
    //color and typo
    box-shadow: $shadow-small;
  }
}

.trophy--card--primary {
  @include trophy($primary-100, $primary-10, $primary-300);
}

.trophy--card--secondary {
  @include trophy($secondary-100, $secondary-10, $secondary-300);
}
