@use "../abstracts/index" as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin trophy--details--card($bg-color) {
  //display
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div {
    //display
    display: flex;
    flex-direction: row;
    //sizing
    max-width: 1279px;
    padding: 20px;
    gap: 20px;
    //color and typo
    background-color: $neutral-50;
    border-radius: 10px;
    box-shadow: $shadow-large;
    section:first-of-type {
      //display
      display: flex;
      flex-direction: column;
      text-align: center;
      //sizing
      padding: 20px;
      border-radius: 10px;
      //color and typo
      background-color: $bg-color;
      box-shadow: $shadow-medium;

      img {
        //color and tyo
        background-color: $neutral-50;
        border-radius: 50%;
        //sizing
        width: 360px;
        height: 364px;
        object-fit: contain;
        //color and typo
        box-shadow: $shadow-medium;
      }
      h4 {
        //display
        text-align: center;
        //sizing
        margin: 10px 0px;
        padding: 3px;
        //color and typo
        box-shadow: $shadow-medium;
        background-color: $primary-10;
        color: $neutral-800;
        @include typography($weight-bold, $size-20);
      }
      p {
        //sizing
        padding: 30px 0;
        margin: 0;
        //color and typo
        @include typography($weight-regular, $size-16);
        background-color: $primary-10;
        color: $neutral-800;
        border-radius: 10px;
        box-shadow: $shadow-medium;
      }
    }

    article {
      //display
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //sizing
      height: 100%;
      h2 {
        //display
        display: flex;
        align-items: center;
        text-align: left;
        gap: 8px;
        //sizing
        margin: 0;
        //color and typo
        @include typography($weight-semi-bold, $size-32);
        color: $neutral-800;
      }
      p:first-of-type {
        //sizing
        margin: 0;
        //color and typo
        color: $neutral-800;
        @include typography($weight-regular, $size-20);
      }
      hr {
        //sizing
        margin: 0;
        //color and typo
        color: $neutral-800;
      }
      p:last-of-type {
        //sizing
        margin: 0;
        //color and typo
        color: $neutral-800;
        @include typography($weight-regular, $size-20);
      }
    }
  }
  footer {
    //display
    display: flex;
    flex-direction: row;
    //sizing
    gap: 20px;
    button {
      //color and typo
      background-color: $bg-color;
      color: $neutral-900;
      border-radius: 10px;
    }
  }
}

.trophy--details--card--primary {
  @include trophy--details--card($primary-300);
}

.trophy--details--card--secondary {
  @include trophy--details--card($secondary-300);
}
