@use "../abstracts/variables" as *;
.vertical-divider {
  //display
  border: none;
  //sizing
  width: 0.125rem; //2px
  margin: 0 0.625rem; //10px

  //color and typo
  color: black;
  background-color: black;
}
