@use "./variables" as *;
/* typography */
@mixin typography($weight, $size, $style: normal, $font: $font-primary) {
  //color and typo
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  line-height: 1.43;
  font-style: $style;
}
/* base */
@mixin buttons-base {
  @include typography($weight-regular, $size-16);
  //display
  display: inline-flex;
  gap: 0.063rem;
  align-items: center;
  justify-content: center;
  //spacing
  padding: 0px 0.688rem;
  min-height: 44px;
  min-width: 139px;
  //color and typo
  border-radius: 58px;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  border: 3px solid transparent;
}

@mixin buttons-states($border-color, $background-color) {
  &:hover {
    //color and typo
    border-color: $border-color;
    box-shadow: $shadow-small;
  }
  &:active {
    //color and typo
    border-color: $border-color;
    background-color: $background-color;
    transform: scale(0.97);
  }
}
/* input */
@mixin input-base(
  $text-and-border-color: $neutral-900,
  $bg-color: $neutral-50
) {
  //display
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  //spacing
  padding: 0.625rem;

  .input_name {
    //spacing
    padding-left: 0.094rem;

    //color and typo
    color: $text-and-border-color;
    @include typography($weight-medium, $size-16);
  }

  .input_content {
    //display
    display: flex;
    gap: 0.313rem;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    //color and styling
    background-color: $bg-color;
    color: $text-and-border-color;
    border-radius: 13px;
    border: 1.7px solid transparent;
    transition: all 0.3s ease-out;
    @include typography($weight-regular, $size-13);

    //spacing
    padding: 0.35rem 0.7rem;

    &:hover {
      border: 1.7px solid $text-and-border-color;
      .input_content_right {
        opacity: 60%;
      }
    }

    &:focus-within {
      border: 1.7px solid $text-and-border-color;
      .input_content_right {
        opacity: 100%;
      }
    }

    .input_input {
      //display
      display: flex;
      flex-grow: 1;
      align-items: center;
      //spacing
      padding: 0;
      //color and styling
      background-color: transparent;
      border: 0px solid transparent;
      color: $text-and-border-color;
      @include typography($weight-regular, $size-13);

      &::placeholder {
        //color and styling
        color: $text-and-border-color;
        opacity: 30%;
        padding-bottom: 10px;
      }

      &:focus {
        //color and styling
        outline: none;
      }
    }

    .input_content_right {
      //display
      display: flex;
      gap: 0.313rem;
      align-self: flex-end;
      align-items: center;
      //spacing
      padding: 0.01rem;
      //color and styling
      opacity: 30%;
      transition: all 0.3s ease-out;

      :hover {
        //color and styling
        opacity: 100%;
      }
    }
    .input_icon_right,
    .input_icon_left {
      //color and styling
      font-size: 0.83rem;
    }
  }

  .input_description {
    //spacing
    padding-left: 0.188rem;
    margin: 0px;
    //color and styling
    color: $text-and-border-color;
    @include typography($weight-light, $size-13, italic);
  }
}

/* calendar */
@mixin calendar($border, $background-color, $today) {
  //display
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.25rem;
  //spacing
  width: 23.3rem;
  height: 22.5rem;
  padding: 1rem;
  padding-bottom: 3.125rem;
  //color and typo
  background-color: $background-color;
  border: 2px solid $border;
  border-radius: 10px;
  color: $neutral-600;
  box-shadow: $shadow-small;

  .calendar_header {
    //display
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    padding: 0 0.625rem;

    .calendar_month_year {
      //display
      display: flex;
      gap: 0.188rem;
      flex-grow: 1;
      align-items: center;

      .calendar_month {
        //color and typo
        @include typography($weight-semi-bold, $size-20);
      }

      .calendar_year {
        //color and typo
        @include typography($weight-regular, $size-13);
      }
      .calendar_btn_year_prev,
      .calendar_btn_year_next {
        justify-self: end;
        //spacing
        padding: 0px;
        //color and typo
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        font-size: 0.55rem;
        color: $today;
        transition: all 0.3s ease-out;

        &:hover {
          color: $border;
        }
        &:active {
          scale: (0.7);
        }
      }
    }
    .calender_nav {
      //display
      display: flex;
      flex-direction: row;
      gap: 0.625rem;
      transition: all 0.3s ease-out;

      .calendar_btn_month_prev {
        //color and typo
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        padding: 0px;
        color: $today;
        transition: all 0.3s ease-out;
        &:hover {
          color: $border;
        }
        &:active {
          scale: (0.7);
        }
      }
      .calendar_btn_month_next {
        //color and typo
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        padding: 0px;
        color: $today;
        transition: all 0.3s ease-out;
        &:hover {
          color: $border;
        }
        &:active {
          scale: (0.7);
        }
      }
    }
  }
  .calendar_body {
    //display
    align-items: center;

    .calendar_days {
      //display
      display: grid;
      align-items: start;
      //spacing
      grid-template-columns: repeat(7, 1fr);
      //color and typo
      @include typography($weight-regular, $size-16);
      .today {
        //color and typo
        background-color: $border;
      }
      button {
        //display
        //spacing
        padding: 0px;
        aspect-ratio: 1;
        //color and typo
        cursor: pointer;
        background-color: transparent;
        border: none;
        transition: all 0.3s ease-out;
        color: $neutral-600;

        @include typography($weight-regular, $size-16);
        &:hover {
          //color and typo
          background-color: $border;
        }
        &:focus {
          background-color: $border;
        }

        &.inactive:hover {
          //color and typo
          cursor: default;
          background-color: transparent;
        }
        &.today {
          //color and typo
          border-radius: 50px;
          background-color: $today;

          &:focus {
            background-color: $border;
          }
        }
        &.today:hover {
          //color and typo
          background-color: $border;
        }
      }
      p {
        //display
        display: flex;
        justify-content: center;
        align-items: center;
        //spacing
        padding: 0;
        margin: 0;
        //color and typo
        color: $border;
      }
      .inactive {
        //color and typo
        color: $neutral-300;
      }
    }
  }
}
