@use "./variables" as *;

@mixin typography($weight, $size, $style: normal) {
  font-family: $font-primary;
  font-weight: $weight;
  font-size: $size;
  line-height: 1.43;
  font-style: $style;
}

@mixin buttons-base {
  @include typography($weight-regular, $size-16);
  display: inline-flex;
  gap: 1px;
  align-items: center;
  justify-content: center;
  border-radius: 58px;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  padding: 0px 11px;
  border: 3px solid transparent;
  min-height: 44px;
  min-width: 139px;
}

@mixin buttons-states($border-color, $background-color) {
  &:hover {
    border-color: $border-color;
    box-shadow: $shadow-small;
  }
  &:active {
    border-color: $border-color;
    background-color: $background-color;
    transform: scale(0.97);
  }
}

@mixin input-base($text-colors, $input-colors, $input-bg) {
}
