{% extends "base.html" %}
{% load static %}
{% block 'title' %}Change password{% endblock 'title' %}
{% block 'header-title' %}Change password{% endblock 'header-title' %}
{% block 'header_icon' %}<i class="fa-solid fa-lock"></i>{% endblock 'header_icon' %}
{% block 'favicon' %}{% static 'assets/icons/favicons/lock-solid-full.svg' %}{% endblock 'favicon' %}
{% block 'content' %}

     {% if messages %}
     {% for message in messages %}
     <div class="toast" data-type="{{message.tags}}" data-text="{{message}}">
     </div>
     {% endfor %}
     {% endif %}

    <!-- password reset -->
    <div style="padding: 4.375rem; display: flex; justify-content: center">
      <form method="POST" id="changePassword" class="password--reset--form">
        {% csrf_token %}
        <div
          style="padding: 6.375rem 4.375rem"
          class="login--signup--form__content"
        >
          <img
            class="login--signup--form__logo"
            src="{% static 'assets/icons/dont-do-list-logos/dont-do-list-outline.svg' %}"
            alt="dont-do-list-primary"
          />
          <header>
            <p>Please enter your new password.</p>
            <span
              >Your new password must be different from previously used
              passwords.</span
            >
          </header>
          <div style="padding: 0" class="text--input--natural">
            <span class="input_name">Current Password</span>
            <div class="input_content">
              <span class="input_icon_left">
                <img
                  style="width: 13px; padding-top: 3px"
                  src="{% static 'assets/icons/lock/lock-natural.svg' %}"
                  alt="lock-icon"
                />
              </span>
              <input
                id="currentPassword"
                name="current_password"
                type="password"
                class="input_input"
                placeholder="••••••••"
                minlength="8"
              />
              <div class="input_content_right">
                <span
                  class="eyeBtn"
                  style="padding-bottom: 1px; cursor: pointer"
                  class="input_icon_right"
                  ><i class="fa-regular fa-eye-slash"></i
                ></span>
              </div>
            </div>
            <p id="currentPasswordDesc" class="input_description"></p>
          </div>
          <div style="padding: 0" class="text--input--natural">
            <span class="input_name">New Password</span>
            <div class="input_content">
              <span class="input_icon_left">
                <img
                  style="width: 13px; padding-top: 3px"
                  src="{% static 'assets/icons/lock/lock-natural.svg' %}"
                  alt="lock-icon"
                />
              </span>
              <input
                id="newPassword"
                name="password"
                type="password"
                class="input_input"
                placeholder="••••••••"
                minlength="8"
              />
              <div class="input_content_right">
                <span
                  class="eyeBtn"
                  style="padding-bottom: 1px; cursor: pointer"
                  class="input_icon_right"
                  ><i class="fa-regular fa-eye-slash"></i
                ></span>
              </div>
            </div>
            <p id="newPasswordDesc" class="input_description"></p>
          </div>
          <div style="padding: 0" class="text--input--natural">
            <span class="input_name">Confirm New Password</span>
            <div class="input_content">
              <span class="input_icon_left">
                <img
                  style="width: 13px; padding-top: 3px"
                  src="{% static 'assets/icons/lock/lock-natural.svg' %}"
                  alt="lock-icon"
                />
              </span>
              <input
                id="confirmNewPassword"
                name="confirm_password"
                type="password"
                class="input_input"
                placeholder="••••••••"
                minlength="8"
              />
              <div class="input_content_right">
                <span
                  class="eyeBtn"
                  style="padding-bottom: 1px; cursor: pointer"
                  class="input_icon_right"
                  ><i class="fa-regular fa-eye-slash"></i
                ></span>
              </div>
            </div>
            <p id="newPasswordConfrimDesc" class="input_description"></p>
          </div>

          <button class="btn btn--natural">
            <span>Submit</span>
          </button>
        </div>
        <div class="login--signup--form__image">
          <img
            src="{% static 'assets/images/unsplash-images/password-reset-v2.jpg' %}"
            alt="password-reset.jpg"
          />
        </div>
      </form>
    </div>

{% endblock 'content' %}