{% extends "base.html" %}
{% load static %}
{% block 'title' %}Dashboard{% endblock 'title' %}
{% block 'header-title' %}Dashboard{% endblock 'header-title' %}
{% block 'header_icon' %}<i class="fa-solid fa-address-card"></i>{% endblock 'header_icon' %}
{% block 'favicon' %}{% static 'assets/icons/favicons/address-card-solid-full.svg' %}' %}{% endblock 'favicon' %}
{% block 'content' %}

    <main class="dashboard">
      <div style="gap: 60px" class="dashboard--sections">
        <from class="info--cards--userinfo">
          <section class="info--cards--userinfo--profile--section">
            <img
              class="info--cards--userinfo--profile"
              src="{% static 'assets/images/trophy-pic/Goodies Happy Flame.png' %}"
              alt="Goodies Happy Flame.png"
            />
            <i
              data-tooltip="Change profile"
              class="fa-regular fa-pen-to-square fa-lg"
            ></i>
          </section>

          <section>
            <small>Trophy's that you get</small>
            <p>2/10</p>
          </section>

          <div style="width: 100%" class="text--input--natural">
            <div class="input_content">
              <span class="input_icon_left"
                ><i class="fa-regular fa-user"></i
              ></span>
              <input type="text" class="input_input" placeholder="Example" />
              <div class="input_content_right">
                <span class="texts">20</span>
              </div>
            </div>
          </div>
          <div style="width: 100%" class="text--input--natural">
            <div class="input_content">
              <span class="input_icon_left"
                ><i class="fa-solid fa-at"></i
              ></span>
              <input
                type="text"
                class="input_input"
                placeholder="Example@gmail.com"
                readonly
              />
              <div class="input_content_right">
                <span class="input_icon_right">
                  <i
                    data-tooltip="Change email (soon)"
                    style="cursor: pointer"
                    class="fa-regular fa-pen-to-square"
                  ></i>
                </span>
              </div>
            </div>
          </div>
          <div style="width: 100%" class="text--input--natural">
            <div class="input_content">
              <span class="input_icon_left"
                ><img
                  style="width: 13px; padding-top: 3px"
                  src="{% static 'assets/icons/lock/lock-solid-full-black.svg' %}"
                  alt="lock-icon"
              /></span>
              <input
                type="password"
                class="input_input"
                placeholder="••••••••"
                readonly
              />
              <div class="input_content_right">
                <a href="change-password.html" class="input_icon_right"
                  ><i
                    data-tooltip="Change password"
                    style="cursor: pointer"
                    class="fa-regular fa-pen-to-square"
                  ></i
                ></a>
              </div>
            </div>
          </div>
        </from>
        <article class="info--cards--btnbox">
          <i class="fa-solid fa-xmark"></i>
          <button>Account settings ⚙️</button>
          <a href={% url "accounts:logout" %}>Logout ↩️</a>
          <a>Delete account ❌</a>
        </article>
      </div>

      <div class="dashboard--sections">
        <section class="info--cards--holder">
          <section class="primary--info--card">
            <div class="card_top_content">
              <header class="card_header">
                Do Tasks <span class="neutral">Created</span> ➕
              </header>
              <hr class="card_line" />
            </div>
            <div class="card_down_content">
              <ul class="card_lables">
                <li class="card_label">
                  <h3 class="card_label_header">Daily</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">weakly</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">monthly</h3>
                  <span class="card_value">10</span>
                </li>
              </ul>
            </div>
          </section>
          <section class="primary--info--card">
            <div class="card_top_content">
              <header class="card_header">
                Do Tasks <span class="success">Completed</span> ✅
              </header>
              <hr class="card_line" />
            </div>
            <div class="card_down_content">
              <ul class="card_lables">
                <li class="card_label">
                  <h3 class="card_label_header">Daily</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">weakly</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">monthly</h3>
                  <span class="card_value">10</span>
                </li>
              </ul>
            </div>
          </section>
          <section class="primary--info--card">
            <div class="card_top_content">
              <header class="card_header">
                Do Tasks <span class="warning">Deleted</span> 🗑️
              </header>
              <hr class="card_line" />
            </div>
            <div class="card_down_content">
              <ul class="card_lables">
                <li class="card_label">
                  <h3 class="card_label_header">Daily</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">weakly</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">monthly</h3>
                  <span class="card_value">10</span>
                </li>
              </ul>
            </div>
          </section>
        </section>
        <section class="info--cards--holder">
          <div class="chart--primary">
            <header class="chart__header">
              <p>Do Tasks <span class="neutral">Created</span> ➕</p>
              <div class="chart__header__btns">
                <button>D</button>
                <button>W</button>
                <button>M</button>
              </div>
            </header>
            <canvas height="117"></canvas>
          </div>
          <div class="chart--primary">
            <header class="chart__header">
              <p>Do Tasks <span class="success">Completed</span> ✅</p>
              <div class="chart__header__btns">
                <button>D</button>
                <button>W</button>
                <button>M</button>
              </div>
            </header>
            <canvas height="157"></canvas>
          </div>
          <div class="chart--primary">
            <header class="chart__header">
              <p>Do Tasks <span class="warning">Deleted</span> 🗑️</p>
              <div class="chart__header__btns">
                <button>D</button>
                <button>W</button>
                <button>M</button>
              </div>
            </header>
            <canvas height="200"></canvas>
          </div>
        </section>
      </div>
      <div class="dashboard--sections">
        <section class="info--cards--holder">
          <section class="secondary--info--card">
            <div class="card_top_content">
              <header class="card_header">
                Don’t Tasks <span class="neutral">Created</span> ➕
              </header>
              <hr class="card_line" />
            </div>
            <div class="card_down_content">
              <ul class="card_lables">
                <li class="card_label">
                  <h3 class="card_label_header">Daily</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">weakly</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">monthly</h3>
                  <span class="card_value">10</span>
                </li>
              </ul>
            </div>
          </section>
          <section class="secondary--info--card">
            <div class="card_top_content">
              <header class="card_header">
                Don’t Tasks <span class="success">Completed</span> ✅
              </header>
              <hr class="card_line" />
            </div>
            <div class="card_down_content">
              <ul class="card_lables">
                <li class="card_label">
                  <h3 class="card_label_header">Daily</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">weakly</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">monthly</h3>
                  <span class="card_value">10</span>
                </li>
              </ul>
            </div>
          </section>
          <section class="secondary--info--card">
            <div class="card_top_content">
              <header class="card_header">
                Don’t Tasks <span class="warning">Deleted</span> 🗑️
              </header>
              <hr class="card_line" />
            </div>
            <div class="card_down_content">
              <ul class="card_lables">
                <li class="card_label">
                  <h3 class="card_label_header">Daily</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">weakly</h3>
                  <span class="card_value">10</span>
                </li>
                <li class="card_label">
                  <h3 class="card_label_header">monthly</h3>
                  <span class="card_value">10</span>
                </li>
              </ul>
            </div>
          </section>
        </section>
        <section class="info--cards--holder">
          <div class="chart--secoundry">
            <header class="chart__header">
              <p>Don’t Tasks <span class="neutral">Created ➕</p>
              <div class="chart__header__btns">
                <button>D</button>
                <button>W</button>
                <button>M</button>
              </div>
            </header>
            <canvas height="125"></canvas>
          </div>
          <div class="chart--secoundry">
            <header class="chart__header">
              <p>Don’t Tasks <span class="success">Completed</span> ✅</p>
              <div class="chart__header__btns">
                <button>D</button>
                <button>W</button>
                <button>M</button>
              </div>
            </header>
            <canvas height="165"></canvas>
          </div>
          <div class="chart--secoundry">
            <header class="chart__header">
              <p>Do Tasks <span class="warning">Deleted</span> 🗑️</p>
              <div class="chart__header__btns">
                <button>D</button>
                <button>W</button>
                <button>M</button>
              </div>
            </header>
            <canvas height="205"></canvas>
          </div>
        </section>
      </div>
    </main>

{% endblock 'content' %}