{% extends "base.html" %}
{% load static %}
{% block 'title' %}Login{% endblock 'title' %}
{% block 'header-title' %}Login{% endblock 'header-title' %}
{% block 'header_icon' %}<i class="fa-solid fa-right-to-bracket"></i>{% endblock 'header_icon' %}
{% block 'favicon' %}{% static 'assets/icons/favicons/right-to-bracket-solid-full.svg' %}{% endblock 'favicon' %}
{% block 'content' %}

    <!-- django errors toast -->
     {% if messages %}
     {% for message in messages %}
     <div class="toast" data-type="{{message.tags}}" data-text="{{message}}">
     </div>
     {% endfor %}
     {% endif %}


    <!-- login -->
    <div style="padding: 4.375rem; display: flex; justify-content: center">
      <main class="login--form">
        <form method="POST" id="loginForm" class="login--signup--form__content">
          {% csrf_token %}
          <img
            class="login--signup--form__logo"
            src="{% static 'assets/icons/dont-do-list-logos/dont-do-list-primary.svg' %}"
            alt="dont-do-list-primary"
          />
          <header>
            <p>Login to your account.</p>
            <span
              >Don't have an account?<a
                style="padding-left: 3px"
                href={% url "accounts:signup" %}
                >sign up here</a
              ></span
            >
          </header>
          <div style="padding: 0" class="text--input--primary">
            <span class="input_name">Email</span>
            <div class="input_content">
              <span class="input_icon_left"
                ><i class="fa-regular fa-envelope"></i
              ></span>
              <input
                name="email"
                autocomplete="off"
                max="20"
                id="emailInputLogin"
                type="text"
                class="input_input"
                placeholder="Example@gmail.com"
              />
            </div>
            <p id="emailDesc" class="input_description"></p>
            
            
          </div>
          <div style="padding: 0" class="text--input--primary">
            <span class="input_name">Password</span>
            <div class="input_content">
              <span class="input_icon_left">
                <img
                  style="width: 13px; padding-top: 3px"
                  src="{% static 'assets/icons/lock/lock-primary.svg' %}"
                  alt="lock-icon"
                />
              </span>
              <input
                name="password"
                id="passwordInputLogin"
                type="password"
                class="input_input"
                placeholder="••••••••"
                max="20"
              />
              <div class="input_content_right">
                <span
                  id="eyeBtn"
                  style="padding-bottom: 1px; cursor: pointer"
                  class="input_icon_right"
                  ><i class="fa-regular fa-eye-slash"></i>
                </span>
              </div>
            </div>
            <p id="PasswordDesc" class="input_description"></p>
            
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <label class="checkbox--primary">
              <input
                autocomplete="off"
                id="rememberMeLogin"
                class="checkbox__input"
                type="checkbox"
              />
              <span class="checkbox__box"></span>
              <span class="checkbox__label">Remember me</span>
            </label>
            <a href={% url "accounts:password_reset" %}>Forgot password?</a>
          </div>
          <button id="submitBtnLogin" type="button" class="btn btn--primary">
            <span>Login</span>
          </button>
          <div style="margin: 0; flex: 0" class="fancy--divider--primary">
            <span class="fancy_divider_content">Or continue with</span>
          </div>
          <footer>
            <button id="googleLoginBtn" class="btn btn--primary">
              <span>Google(soon)</span>
              <span class="btn__icon"
                ><img
                  src="{% static 'assets/icons/google/Google-v2.svg' %}"
                  alt="Google-icon"
              /></span>
            </button>
            <button id="githubLoginBtn" class="btn btn--primary">
              <span>Github(soon)</span>
              <span class="btn__icon"
                ><img
                  src="{% static 'assets/icons/github/Github-v2.svg' %}"
                  alt="github-icon"
              /></span>
            </button>
          </footer>
        </form>
        <div class="login--signup--form__image">
          <img src="{% static 'assets/images/unsplash-images/login-img.jpg' %}" alt="login-img.jpg" />
        </div>
      </main>
    </div>

{% endblock 'content' %}