{% extends "base.html" %}
{% load static %}
{% block 'title' %}Password-reset-success{% endblock 'title' %}
{% block 'favicon' %}{% static 'assets/icons/favicons/check-solid-full.svg' %}{% endblock 'favicon' %}
{% block 'content' %}

    <!-- success card -->
    <div style="display: flex; justify-content: center">
      <main class="password-reset-status-card--success">
        <div><i class="fa-solid fa-circle-check fa-5x"></i></div>
        <section>
          <h4>Instructions sent to your email</h4>
          <p>
            Check your email for password reset instructions.
            Once you’ve updated your password, you can return to login.
          </p>
        </section>
        <a href={% url "accounts:login" %}>
          <button class="btn btn--success">
            <span>Go to login</span>
          </button>
        </a>
      </main>
    </div>

{% endblock 'content' %}