{% extends "base.html" %}
{% load static %}
{% block 'title' %}Password-reset{% endblock 'title' %}
{% block 'header-title' %}Password reset{% endblock 'header-title' %}
{% block 'header_icon' %}<i class="fa-solid fa-lock"></i>{% endblock 'header_icon' %}
{% block 'favicon' %}{% static 'assets/icons/favicons/lock-solid-full.svg' %}{% endblock 'favicon' %}
{% block 'content' %}

     <!-- django errors toast -->
     {% if messages %}
     {% for message in messages %}
     <div class="toast" data-type="{{message.tags}}" data-text="{{message}}">
     </div>
     {% endfor %}
     {% endif %}

    <!-- password reset -->
    <div style="padding: 4.375rem; display: flex; justify-content: center">
      <form method="post" id="passwordResetConfirm" class="password--reset--form">
        {% csrf_token %} 
        <div
          
          class="login--signup--form__content"
        >
          <img
            class="login--signup--form__logo"
            src="{% static 'assets/icons/dont-do-list-logos/dont-do-list-outline.svg' %}"
            alt="dont-do-list-primary"
          />
          <header>
            <p>Please enter your email.</p>
            <span
              >Enter your email below and we'll send you a link to create a new
              password.</span
            >
          </header>
          <div style="padding: 0" class="text--input--natural">
            <span class="input_name">Email</span>
            <div class="input_content">
              <span class="input_icon_left"
                ><i class="fa-regular fa-envelope"></i
              ></span>
              <input
                id="emailInput"
                name="email"
                type="text"
                class="input_input"
                placeholder="Example@gmail.com"
              />
            </div>
            <p id="emailDesc" class="input_description"></p>
          </div>

          

          <button class="btn btn--natural">
            <span>Submit</span>
          </button>
        </div>
        <div class="login--signup--form__image">
          <img
            src="{% static 'assets/images/unsplash-images/password-reset-v2.jpg' %}"
            alt="password-reset.jpg"
          />
        </div>
      </form>
    </div>

{% endblock 'content' %}
