{% extends "base.html" %}
{% load static %}
{% block 'title' %}trophy-details{% endblock 'title' %}
{% block 'favicon' %}{% static 'assets/icons/favicons/trophy-solid-full-v2.svg' %}{% endblock 'favicon' %}
{% block 'content' %}


    <!-- card-details -->
    <main class="trophy--details--card">
      <div>
        <section>
          <img
            src="{% static 'assets/images/trophy-pic/Goodies Happy Flame.png' %}"
            alt="Goodies Happy Flame.png"
          />
          <h4>Do 10 do tasks</h4>
          <p>Use it to make your home page better!!</p>
        </section>
        <section>
          <article>
            <h2>Information This trophy<i class="fa-solid fa-medal"></i></h2>
            <p>
              Name: Flixie Age: 7 sparks old (that’s about 14 in flame years)
              Height: Just tall enough to toast a marshmallow Hometown:
              Emberglow Hollow, deep inside the Hearthwood Forest
            </p>
            <hr />
            <p>
              Bio: Flixie was born from the very first spark of a cozy campfire
              under a full moon. With glowing cheeks, a fiery swirl of hair, and
              a giggle that crackles like dry twigs, she’s one of the rare
              Whimflames — magical fire spirits that bring warmth, joy, and a
              little chaos wherever they go. She spends her days lighting
              lanterns for lost forest creatures, dancing on fallen leaves, and
              sometimes accidentally setting toast on fire (oops!). Though
              small, Flixie dreams of one day becoming a Great Flame Guardian
              who watches over the balance of warmth and wildness in the world.
            </p>
            <footer>
              <button class="btn btn--primary">
                <span> <a href={% url "trophies:trophies-page" %}>back to trophys</a></span>
              </button>
              <button class="btn btn--primary">
                <span>get it!</span>
              </button>
            </footer>
          </article>
        </section>
      </div>
    </main>
{% endblock 'content' %}