{% extends "base.html" %}
{% load static %}
{% block 'title' %}Trophy-details{% endblock 'title' %}
{% block 'header-title' %}Trophy-details{% endblock 'header-title' %}
{% block 'header_icon' %}<i class="fa-solid fa-trophy"></i>{% endblock 'header_icon' %}
{% block 'favicon' %}{% static 'assets/icons/favicons/trophy-solid-full-v2.svg' %}{% endblock 'favicon' %}
{% block 'content' %}


    <!-- card-details -->
    {% if trophy.trophy_type == "DONT" %}
    <main class="trophy--details--card--secondary">
      <div>
        <section style="background-color: {{trophy.color}};">
          <img
            src="{{trophy.picture.url}}"
            alt="Goodies Happy Flame.png"
          />
          <h4>{{trophy.trophy_type}}</h4>
          <p>{{trophy.name}}</p>
        </section>
        <section >
          <article>
            <h2>Information This trophy<i class="fa-solid fa-medal"></i></h2>
            <p>
              {{trophy.information}}
            </p>
            <hr />
            <p>
              {{trophy.bio}}
            </p>
            <footer>
              <button style="background-color: {{trophy.color}};"   class="btn btn--secondary">
                <span> <a href={% url "trophies:trophies-page" %}>back to trophys</a></span>
              </button>
              <button style="background-color: {{trophy.color}};"  class="btn btn--secondary">
                <span><a href={% url "trophies:unlock_trophy" trophy.id %}>get it!</a></span>
              </button>
            </footer>
          </article>
        </section>
      </div>
    </main>
    {% endif %}

    {% if trophy.trophy_type == "DO" %}
    <main class="trophy--details--card--primary">
      <div>
        <section style="background-color: {{trophy.color}};">
          <img
            src="{{trophy.picture.url}}"
            alt="Goodies Happy Flame.png"
          />
          <h4>{{trophy.trophy_type}}</h4>
          <p>{{trophy.name}}</p>
        </section>
        <section>
          <article>
            <h2>Information This trophy<i class="fa-solid fa-medal"></i></h2>
            <p>
              {{trophy.information}}
            </p>
            <hr />
            <p>
              {{trophy.bio}}
            </p>
            <footer>
              <button style="background-color: {{trophy.color}};"  class="btn btn--primary">
                <span> <a href={% url "trophies:trophies-page" %}>back to trophys</a></span>
              </button>
              <button style="background-color: {{trophy.color}};" class="btn btn--primary">
                <span><a href={% url "trophies:unlock_trophy" trophy.id %}>get it!</a></span>
              </button>
            </footer>
          </article>
        </section>
      </div>
    </main>
    {% endif %}
{% endblock 'content' %}