{% extends "base.html" %}
{% load static %}
{% block 'title' %}trophy-details{% endblock 'title' %}
{% block 'favicon' %}{% static 'assets/icons/favicons/trophy-solid-full-v2.svg' %}{% endblock 'favicon' %}
{% block 'content' %}

    <main class="trophy--layout">
      
      {% for trophy in trophies %}
      {% if trophy.trophy_type == "DONT" %}
      <div class="trophy--card--secondary">
        <header class="trophy__header">
          <p>{{trophy.name}}</p>
        </header>
        <div class="trophy__image">
          <img
            src="{{trophy.picture.url}}" 
            alt="trophie.image"
          />
        </div>
        <a href={% url "trophies:trophy_details" trophy_id=trophy.id %}>
        <button class="btn btn--secondary">
          <span>More info!</span>
        </button>
        </a>
      </div>
      {% endif %}
      {% endfor %}

      {% for trophy in trophies %}
      {% if trophy.trophy_type == "DO" %}
      <div class="trophy--card--primary">
        <header class="trophy__header">
          <p>{{trophy.name}}</p>
        </header>
        <div class="trophy__image">
          <img
            src="{{trophy.picture.url}}"
            alt="trophie.image"
          />
        </div>
        <a href={% url "trophies:trophy_details" trophy_id=trophy.id %}>
        <button class="btn btn--primary">
          <span>More info!</span>
        </button>
        </a>
      </div>
      {% endif %}
      {% endfor %}

      
      <!-- paginator -->
       
      <nav class="pagination">
        <button class="next--prev--small--btn">
          <i class="fa-solid fa-chevron-left fa-sm"></i>
        </button>
        <button style="cursor: auto" class="number--small--btn">1</button>
        <button class="next--prev--small--btn">
          <i class="fa-solid fa-chevron-right fa-sm"></i>
        </button>
      </nav>
      
    </main>


{% endblock 'content' %}