@forward "./buttons";
@forward "./cards";
@forward "./inputs";
@forward "./calender";
@forward "./checkbox";
@forward "./fancy-divider";
@forward "./navbar";
@forward "./tasks";
@forward "./video-bg";
@forward "./new-task-modal";
@forward "./charts";
@forward "./trophy-card";
@forward "./gradiant-divider";
@forward "./aboutus-cards";
@forward "./aboutus-cards";
@forward "./delete-task-modal";
@forward "./login-signup-form";
@forward "./header";
@forward "./vertical-deivider";
@forward "./blur-background";
@forward "./trophy-details-card";
@forward "./Password-reset-status-card";
@forward "./info-cards";
@forward "./small-buttons";
@forward "./_small-buttons-v2.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img,
video {
  pointer-events: none;
  user-select: none;
}
