@forward "./buttons";
@forward "./cards";
@forward "./inputs";
@forward "./test";
@forward "./calender";
@forward "./checkbox";
@forward "./fancy-divider";
@forward "./navbar";
@forward "./tasks";
@forward "./video-bg";
@forward "./new-task-modal";
@forward "./charts";
@forward "./trophy-card";
@forward "./gradiant-divider";
@forward "./aboutus-cards";
@forward "./aboutus-cards";
@forward "./delete-task-modal";
@forward "./login-signup-form";
@forward "./header";
@forward "./vertical-deivider";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
