@use "../abstracts/index" as *;

@mixin new--task--modal($border-color, $txt-color) {
  //display
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  //sizing
  gap: 0.3125rem; // 5px
  width: 32.5625rem; // 521px
  box-sizing: border-box;
  padding: 3rem; // 40px
  height: 39.4375rem; // 631px
  //color and typo
  border: 0.1875rem solid $border-color; // 3px
  border-radius: 0.625rem; // 10px
  background-color: transparent;

  transition: opacity 0.3s ease, transform 0.3s ease;
  .new--task--modal__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    video {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .new--task--modal__header {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 0.625rem; // 10px
    color: $txt-color;

    div {
      margin: 0.625rem 0; // 10px
    }

    p {
      margin: 0;
      @include typography($weight-regular, $size-16);
    }

    h3 {
      margin: 0;
      @include typography($weight-semi-bold, $size-25);
    }
  }

  .new--task--modal__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.625rem; // 10px
  }
}

.new--task--modal--primary {
  @include new--task--modal($primary-50, $primary-500);
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
.new--task--modal--secoundry {
  @include new--task--modal($secondary-50, $secondary-500);
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
