@use "../abstracts/index" as *;

@mixin password-reset-status-card($bg-color, $border-color) {
  //display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  //sizing
  margin: 6.25rem;
  width: 100%;
  max-width: 25.375rem; // 406px
  min-height: 22.25rem; // 356px
  padding: 1.25rem;
  gap: 1.875rem;

  //color and typo
  background-color: $bg-color;
  border: 0.125rem solid $border-color;
  color: $border-color;
  border-radius: 0.625rem;
  box-shadow: $shadow-large;

  footer{
    display: flex;
    gap: 20px;
  }

  section {
    //display
    display: flex;
    flex-direction: column;

    //sizing
    gap: 0.625rem;

    h4 {
      //sizing
      margin: 0;
      padding: 0;

      //color and typo
      @include typography($weight-bold, $size-20);
    }

    p {
      //sizing
      margin: 0;
      padding: 0;

      //color and typo
      @include typography($weight-regular, $size-13);
    }
  }

  button {
    //color and typo
    border-radius: 0.625rem;
  }
}

.password-reset-status-card--success {
  @include password-reset-status-card($neutral-50, $success-400);
}

.password-reset-status-card--fail {
  @include password-reset-status-card($neutral-50, $destructive-400);
}

.password-reset-status-card--neutral {
  @include password-reset-status-card($neutral-50, $neutral-400);
}
