@use "../abstracts/index" as *;

@mixin small--buttons--v2(
  $border-text,
  $background-color,
  $hover-active-border,
  $active-background
) {
  //display
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
  //sizing
  padding: 10px;
  height: 5px;
  //color and typo
  background-color: $background-color;
  border: 2px solid $border-text;
  border-radius: 50px;
  @include typography($weight-medium, $size-13);
  color: $border-text;
  transition: all ease-out 300ms;
  &.active {
    //color and typo
    box-shadow: $shadow-xsmall;
    background-color: $active-background;
    border: 2px solid $hover-active-border;
  }
  &:hover {
    //color and typo
    box-shadow: $shadow-medium;
    border: 2px solid $hover-active-border;
  }
}

.small--buttons--v2.primary {
  @include small--buttons--v2(
    $primary-400,
    $primary-10,
    $primary-500,
    $primary-100
  );
  //color and typo
  border-radius: 50px 0 0 50px;
  border-right: 0 !important;
}

.small--buttons--v2.secondary {
  @include small--buttons--v2(
    $secondary-400,
    $secondary-10,
    $secondary-500,
    $secondary-100
  );
  //color and typo
  border-radius: 0 50px 50px 0;
  border-left: 0 !important;
}
