@use "./abstracts/mixins" as *;
@use "./abstracts/variables" as *;
@use "./base/typography" as *;

.box {
  width: 150px;
  height: 100px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
}

.xsmall {
  box-shadow: $shadow-xsmall;
}

.small {
  box-shadow: $shadow-small;
}

.medium {
  box-shadow: $shadow-medium;
}

.large {
  box-shadow: $shadow-large;
}

.xlarge {
  box-shadow: $shadow-xlarge;
}

.xxlarge {
  box-shadow: $shadow-xxlarge;
}
