@use "./index.scss" as *;

body {
  margin: 0;
}

.box {
  width: 150px;
  height: 100px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
}

.xsmall {
  box-shadow: $shadow-xsmall;
}

.small {
  box-shadow: $shadow-small;
}

.medium {
  box-shadow: $shadow-medium;
}

.large {
  box-shadow: $shadow-large;
}

.xlarge {
  box-shadow: $shadow-xlarge;
}

.xxlarge {
  box-shadow: $shadow-xxlarge;
}
